{% include 'partials/header.html' %}

<h3>New Todo</h3>

<form action="{% url 'todos:add' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title</label><br />
        <input type="text" name="title" id="title" />
    </div>

    <div class="form-group">
        <label for="text">Text</label><br />
        <textarea name="text" id="text"></textarea>
    </div>



    <div class="form-group">
        <hr>
        <input class='btn btn-primary' type="submit" value="Submit" />
    </div>
</form>

{% include 'partials/footer.html' %}